<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ConcoursServlet</servlet-name>
        <servlet-class>servlet.ConcoursServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EpreuveServlet</servlet-name>
        <servlet-class>servlet.EpreuveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidatServlet</servlet-name>
        <servlet-class>servlet.CandidatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>servlet.InscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DossierServlet</servlet-name>
        <servlet-class>servlet.DossierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>servlet.DocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultatServlet</servlet-name>
        <servlet-class>servlet.ResultatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthentificationServlet</servlet-name>
        <servlet-class>servlet.AuthentificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionPubliqueServlet</servlet-name>
        <servlet-class>servlet.InscriptionPubliqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatistiquesServlet</servlet-name>
        <servlet-class>servlet.StatistiquesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConcoursServlet</servlet-name>
        <url-pattern>/ConcoursServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EpreuveServlet</servlet-name>
        <url-pattern>/EpreuveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidatServlet</servlet-name>
        <url-pattern>/CandidatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/InscriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DossierServlet</servlet-name>
        <url-pattern>/DossierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/DocumentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultatServlet</servlet-name>
        <url-pattern>/ResultatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthentificationServlet</servlet-name>
        <url-pattern>/AuthentificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>InscriptionPubliqueServlet</servlet-name>
    <url-pattern>/InscriptionPubliqueServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>InscriptionPubliqueServlet</servlet-name>
    <url-pattern>/inscriptionPublique</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatistiquesServlet</servlet-name>
        <url-pattern>/StatistiquesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
